
@{
    ViewBag.Title = "OptionLogin";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("H. Diario", "", "")</li>
        <li>@Html.ActionLink("R. Solicitudes", "", "")</li>
        <li>@Html.ActionLink("R. Compras", "", "")</li>
        <li>@Html.ActionLink("R. Emision", "", "")</li>
        <li>@Html.ActionLink("About Us", "", "")</li>
        <li>@Html.ActionLink("Cerrar Sesion", "", "")</li>
    </ul>
</div>

